        </table>
    </div>

    <div class="col-md-6">
        <div id="map_canvas" style="padding: 10; border:10px; height:400px; width=100%"></div>
    </div>
</body>
</div>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment-with-langs.min.js"></script>
<script>
function flask_moment_render(elem) {
    $(elem).text(eval('moment("' + $(elem).data('timestamp') + '").' + $(elem).data('format') + ';'));
    $(elem).removeClass('flask-moment');
}
function flask_moment_render_all() {
    $('.flask-moment').each(function() {
        flask_moment_render(this);
        if ($(this).data('refresh')) {
            (function(elem, interval) { setInterval(function() { flask_moment_render(elem) }, interval); })(this, $(this).data('refresh'));
        }
    })
}
$(document).ready(function() {
    flask_moment_render_all();
});
</script>


<!-- Google Maps API: Currently Only Used in Index -->
<script
  src="https://maps.googleapis.com/maps/api/js?libraries=visualization">
</script>

<script>
  var map;

  function initialize() {
    var mapOptions = {
      zoom: 12,
      center: new google.maps.LatLng(20,0),
      mapTypeId: google.maps.MapTypeId.TERRAIN
    };
    map = new google.maps.Map(document.getElementById('map_canvas'),
          mapOptions);

    var script = document.createElement('script');
    script.src = '/api/synthsets-geo/'+ $('#post_id').attr("content");

    document.getElementsByTagName('head')[0].appendChild(script);
  }
    
  // Loop through the results array and place a marker for each
  // set of coordinates.
  window.eqfeed_callback = function(results) {

    var infowindow = new google.maps.InfoWindow();

    for (var i = 0; i < results.synthsets.length; i++) 
    {
      //console.log(results.synthsets[i]);
      var fill = ("<b>Site</b>: " + results.synthsets[i].acq_site + "<br>"
        + "<b>Author</b>: " + results.synthsets[i].ov_author + "<br>"
        + "<b>Page</b>: <a target='_blank' href=explore/" + results.synthsets[i].id 
        + ">explore/" + results.synthsets[i].id + "</a><br>");

      var lat = results.synthsets[i].acq_lat;
      var lon = results.synthsets[i].acq_lon;
      var latLng = new google.maps.LatLng(lat,lon);

      map.setCenter(latLng)

      var marker = new google.maps.Marker({
        position: latLng,
        fill: fill,
        map: map,
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function()
        {
          infowindow.setContent(marker.fill);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  }
</script>


  </body>
</html>
